  <nav class='indigo'>
    	<div class="container">

    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">
      	<span class="hide-on-med-and-up">W.O.R.E.</span>
      	<span class="hide-on-small-only">Write Once, Run Everywhere</span>
      	
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
       	{{yield}}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        {{yield}}
      </ul>
      </div>
    </div>
  </nav>
          