<div class="fixed-navbar">
 {{#nav-bar}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#link-to 'index' tagName='li'}}
    {{link-to 'Home' 'index'}}
  {{/link-to}}
  {{#link-to 'articles' tagName='li'}}
    {{link-to 'Articles' 'articles'}}
  {{/link-to}}
{{/nav-bar}}
</div>


<div class="container">
	<div class="row">
		<div class="col s12">
			{{outlet}}
		</div>
	</div>
</div>
{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}